/*
* CSS
* @bren00x
* NeatClip Player v1.0.0
* Built on Plyr.io v2.0.7
*/


.NCPlayer {
  max-width: 800px;
  margin: 0 auto;
}


.plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
    background: #007bff;
    color: #fff;
}
.plyr__progress--played, .plyr__volume--display {
    color: #007bff;
}



.plyr {
  border-radius: 4px;
  margin-bottom: 15px;
}
.title {
position:absolute;
top:0;
left:0;
color:#fff;
padding:20px;
}

.plyr--video .plyr__controls{
  40px 10px 10px
}
.button {
position:absolute;
top:0;
right:0;
color:#fff;
padding:20px;
}
.plyr--hide-controls .title {
    opacity: 0;
    pointer-events: none;
}
.plyr--hide-controls .button {
    opacity: 0;
    pointer-events: none;
}

.ncl{
    line-height: 26px;
    padding-left: 3px;
}

@media only screen and (max-width: 500px){
  
  .ncl,.plyr__time--duration{
    font-size:0px;
    line-height: 0px;
  }
}

@media only screen and (max-width: 350px){
  
  .plyr__time{
    font-size:0px;
  }
}
